*{
    font-family: "Poppins", sans-serif;
}

.banner{
    background-image: url(/portfolio/images/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 180px 0;
}

.skills-padding{
    padding: 70px 0;
}