*{
    font-family: "Poppins", sans-serif;
}

.banner{
    background-image: url(../images/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 180px 0;
}

.skills-padding{
    padding: 70px 0;
}

.container-home{
    padding: min(5em,8%);
}

.intro{
    text-align: left;
}